body
{
	max-width: 800px;
}

.container
{
	display: grid;
	grid-gap: 0px;
	background-color: lightgrey;
	height: 600px;
	width: 450px;
	grid-template-areas:

	'.  .  .  r1 r1 r1 r1 r1 .  .  .  . '
	'.  .  r2 r2 r2 r2 r2 r2 r2 r2 r2 . '
	'.  .  m1 m1 m1 p1 p1 b1 p2 .  .  . '
	'.  m2 p3 m3 pf pf pf b1 p4 p4 p4 . '
	'.  m2 p3 m4 m4 p5 p5 p5 b2 p6 p6 p6'
	'.  .  m5 p7 p7 p7 p7 b3 b3 b3 b3 . '
	'.  .  .  p8 p8 p8 p8 p8 p8 .  .  . '
	'.  .  r3 r3 l1 r4 r4 l2 r5 r5 .  . '
	'.  r6 r6 r6 l1 r4 r4 l2 r7 r7 r7 . '
	'r8 r8 r8 r8 l1 l3 l3 l2 r9 r9 r9 r9'
	'p9 p9 ra l4 pa l3 l3 pb l5 rb pc pc'
	'p9 p9 pd l6 l6 l6 l6 l6 l6 pe pc pc'
	'p9 p9 l7 l7 l7 l7 l7 l7 l7 l7 pc pc'
	'.  .  l8 l8 l8 .  .  l9 l9 l9 .  . '
	'.  m9 m9 m9 .  .  .  .  m6 m6 m6 . '
	'm7 m7 m7 m7 .  .  .  .  m8 m8 m8 m8'
	; 
}

.r1
{
	background-color: red;
	grid-area: r1;
}

.r2
{
	background-color: red;
	grid-area: r2;
}

.r3
{
	background-color: red;
	grid-area: r3;
}

.r4
{
	background-color: red;
	grid-area: r4;
}

.r5
{
	background-color: red;
	grid-area: r5;
}

.r6
{
	background-color: red;
	grid-area: r6;
}

.r7
{
	background-color: red;
	grid-area: r7;
}

.r8
{
	background-color: red;
	grid-area: r8;
}

.r9
{
	background-color: red;
	grid-area: r9;
}

.ra
{
	background-color: red;
	grid-area: ra;
}

.rb
{
	background-color: red;
	grid-area: rb;
}

.m1
{
	background-color: saddlebrown;
	grid-area: m1;
}

.m2
{
	background-color: saddlebrown;
	grid-area: m2;
}

.m3
{
	background-color: saddlebrown;
	grid-area: m3;
}

.m4
{
	background-color: saddlebrown;
	grid-area: m4;
}

.m5
{
	background-color: saddlebrown;
	grid-area: m5;
}

.m6
{
	background-color: saddlebrown;
	grid-area: m6;
}

.m7
{
	background-color: saddlebrown;
	grid-area: m7;
}

.m8
{
	background-color: saddlebrown;
	grid-area: m8;
}

.m9
{
	background-color: saddlebrown;
	grid-area: m9;
}

.l1
{
	background-color: blue;
	grid-area: l1;
}

.l2
{
	background-color: blue;
	grid-area: l2;
}

.l3
{
	background-color: blue;
	grid-area: l3;
}

.l4
{
	background-color: blue;
	grid-area: l4;
}

.l5
{
	background-color: blue;
	grid-area: l5;
}

.l6
{
	background-color: blue;
	grid-area: l6;
}

.l7
{
	background-color: blue;
	grid-area: l7;
}

.l8
{
	background-color: blue;
	grid-area: l8;
}

.l9
{
	background-color: blue;
	grid-area: l9;
}

.p1
{
	background-color: peachpuff;
	grid-area: p1;
}

.p2
{
	background-color: peachpuff;
	grid-area: p2;
}

.p3
{
	background-color: peachpuff;
	grid-area: p3;
}

.p4
{
	background-color: peachpuff;
	grid-area: p4;
}

.p5
{
	background-color: peachpuff;
	grid-area: p5;
}

.p6
{
	background-color: peachpuff;
	grid-area: p6;
}

.p7
{
	background-color: peachpuff;
	grid-area: p7;
}

.p8
{
	background-color: peachpuff;
	grid-area: p8;
}

.p9
{
	background-color: peachpuff;
	grid-area: p9;
}

.pa
{
	background-color: yellow;
	grid-area: pa;
}

.pb
{
	background-color: yellow;
	grid-area: pb;
}

.pc
{
	background-color: peachpuff;
	grid-area: pc;
}

.pd
{
	background-color: peachpuff;
	grid-area: pd;
}

.pe
{
	background-color: peachpuff;
	grid-area: pe;
}

.pf
{
	background-color: peachpuff;
	grid-area: pf;
}

.b1
{
	background-color: black;
	grid-area: b1;
}

.b2
{
	background-color: black;
	grid-area: b2;
}

.b3
{
	background-color: black;
	grid-area: b3;
}
